<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Nezal, bla bla bla bla bla blaaaaaaaaaaaa</title>
  <script src="/javascripts/prototype.js"></script>
  <script src="/javascripts/effects.js"></script>
  <script src="/javascripts/events.js"></script>
  <script src="/javascripts/application.js"></script>
  <%= stylesheet_link_tag 'scaffold' %>
  <%= stylesheet_link_tag 'chat' %>
  <script type="text/javascript">  
    function activateChat()
    {
      window.setTimeout(window['updateChat'], 1000, '/rooms/<%=@room[:id]%>/events')
    }
  </script>
</head>

<body onload="activateChat()">

<p style="color: green"><%= flash[:notice] %></p>

<%= yield %>

</body>
</html>
