<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
	<title>The Mighty Ripper !!!!!!!!!!!!!! </title>
  <script src="/javascripts/prototype.js"></script>
  <script src="/javascripts/effects.js"></script>
  <script src="/javascripts/application.js"></script>
  
  <script src="/javascripts/application/chat.js"></script>
  <script src="/javascripts/application/room.js"></script>
  <script src="/javascripts/application/event.js"></script>
  
  <link rel="stylesheet" href="/stylesheets/scaffold.css" type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/chat.css"     type="text/css" media="screen" title="no title" charset="utf-8">
  <link rel="stylesheet" href="/stylesheets/court.css"    type="text/css" media="screen" title="no title" charset="utf-8">
  
  <script type="text/javascript">  
    Event.url =  "/games/<%=@game_id%>/courts/<%=@court[:key]%>/events"
    function fetchEvents()
    {
      window.setTimeout("Event.fetch()", 1000)
    }
    
    function logout() {
      new Ajax.Request( "/games/<%=@game_id%>/courts/<%=@court[:key]%>" , { 
        method:'put', 
        parameters: { action : 'delete' } ,
        onSuccess: function(transport, json){
        },
        onFailure: function(){
            Event.error("Error"); 
        }
      });
    }
    window.onunload = logout;
    
  </script>
  <style>
				  
		#main .column { float:left;width:23%;padding:4px; margin-top : 50px;}
		#main .column#gameArea {width:51%;}

	</style>
  	
</head>

<body onload="fetchEvents()">
		<div id="header">
		  <h1></h1> 
		</div>
		<div id="main">
		  <div id="main-side" >
      <%= yield %>
  		</div>
		</div>
		<div id="footer">About | Jobs | Other</div>
		
</body>
</html>
