<script type='text/javascript'>
var Quest = {

    conditions : {},
    rewards : {},
    metadata : {},

    init : function() {
        this.metadata = new Hash(<%=Metadata.encode(@quest.metadata)%>);
        this.conditions = new Hash(<%=Metadata.encode(BD::Quest::CONDITIONS)%>);
        this.rewards = new Hash(<%=Metadata.encode(BD::Quest::REWARDS)%>);
        this.rewards.keys().each(function(key){
            
        });
        console.log(Quest.metadata);
    },

    displayConditions : function() {
          
    }

}
Quest.init();
</script>

<div id="game">

  <div id="backLink"> 
    <a href="/<%=AdminController::ADMIN_URL%>/<%=@quest.game[:name]%>/quests">
      Back
    </a>
  </div>

  <div id="game_name">
    <%=@quest.game.name%> : 
    <span id="quest_name" class="title" style="color :  DarkOliveGreen;">
      <%=@quest.name%> 
    </span>
  </div>

  <div>
    <LABEL for="quest" class="label title">Quest</LABEL>
    <div class="form_row">  
        <LABEL for="title">Title</LABEL>
        <INPUT type="text" id="title" name='title'><BR>
    </div>
    <div class="form_row">  
        <LABEL for="description">Description</LABEL>
        <INPUT type="text" id="description" name='description'><BR>
    </div>
    <div class="form_row">  
      <LABEL for="congratesMsg" class="label title">Congrates Msg</LABEL>
      <INPUT type="text" id="congratesMsg" name='congratesMsg'><BR>
    </div>
    <LABEL for="rewards" class="label title">Rewards</LABEL>
    <div id="rewards">
      <div id="newReward">
          <div class="form_row">  
              <LABEL for="coins">Coins</LABEL>
              <INPUT type="text" id="coins" name='coins'><BR>
          </div>
      </div>
    </div>
    <div class="form_row">
      <input type="submit" value="save" class="submit" onclick="CampaignData.saveMission(); return false;"/>
    </div>
  </div>

</div>

<textarea id="rewardTemplate" style="display:none;">
  <div id='newReward'> 
    <LABEL for="category" class="category">Category</LABEL>
    <select id="category" name="category">
      {for category in creeps }                        
      <option value="${creep}"  {if creep == element['category']} 'SELECTED' {/if}> ${creep} </option>
      {/for}
    </select>
    <LABEL for="condition" class="count">Condition</LABEL>
    <select id="condition" name="condition">
      {for category in creeps }                        
      <option value="${creep}"  {if creep == element['category']} 'SELECTED' {/if}> ${creep} </option>
      {/for}
    </select>
    <span class="delete" >
      <a order="${element_index}" wave="${wave_id}" href="#" onclick="CampaignData.deleteWaveCreep(this);return false;"> x </a>
    </span>
  </div>
</textarea>

