<script type='text/javascript'>
var Quest = {

    conditions : {},
    rewards : {},
    metadata : {},

    init : function() {
        this.id = <%=@quest.id%>;
        this.name = "<%=@quest.name%>";
        this.primary = <%=@quest.primal || false%>;
        this.parents = {};
        this.parent = <%=@quest.parent || 'null'%>;
        <% @game.quests.each do | quest | %>                      
          this.parents['<%=quest.name%>'] = <%=quest.id%> ;
        <% end %>
        this.metadata = <%=Metadata.encode(@quest.metadata)%>;
        this.rewards = <%=Metadata.encode(BD::Quest::REWARDS)%>;
        this.categories = <%=Metadata.encode(BD::Quest::CATEGORIES)%>;
        this.conditions = { buildings : ['level', 'assigned_workers', 'hp'],
                            resources : ['lumber', 'rock', 'workers'] };        
        this.gameMetadata = <%=Metadata.encode(@game.metadata)%>;
        Quest.display();
    },

    saveToServer : function(){
      new Ajax.Request( '/<%=AdminController::ADMIN_URL%>/<%=@game[:name]%>/quests/<%=@quest.id%>/metadata' , {
                        method : 'put',
                        parameters : { "data" : JSON.stringify({ 
                                                  name : Quest.name,
                                                  primal : Quest.primary,
                                                  parent : Quest.parent,
                                                  metadata : this.metadata
                                                }) },
                        onSuccess : function(response){
                          Quest.showSuccessMsg();
                          window.location = window.location;
                        },
                        onFailure : function(response){
                          Quest.showErrorMsg('');
                        }
                       
                   });    
    },

    display : function(){
      var defaultLang = null;
      for (defaultLang in Language.metadata) break;
      $('basicData').innerHTML = TrimPath.processDOMTemplate("basicDataTemplate", { languages : Language.metadata	,
                                                                                      defaultLang : defaultLang});
    },
  
    displayAddBuildingCondition : function(){
      $$('#basicData #addBuildingCondition')[0].innerHTML = TrimPath.processDOMTemplate("addBuildingConditionTemplate");
    },

    displayAddResourceCondition : function(){
      $$('#basicData #addResourceCondition')[0].innerHTML = TrimPath.processDOMTemplate("addResourceConditionTemplate");
    },

    addBuildingCondition : function(){
      Quest.retrieveFormData();
      var children = $$('#basicData #addBuildingCondition .new_building_condition')[0].childElements();
      var name = children[1].value;
      var cond = children[2].value;
      var val = children[3].value;
      if(!val || val.length==0)
      {
        Quest.showErrorMsg('Condition value be integer');
        return;
      }
      if(!Quest.metadata.conditions.buildings) Quest.metadata.conditions.buildings = {};
      if(!Quest.metadata.conditions.buildings[name]) Quest.metadata.conditions.buildings[name] = {};
      Quest.metadata.conditions.buildings[name][cond] = parseInt(val); 
      Quest.saveToServer();
    },

    addResourceCondition : function(){
      Quest.retrieveFormData();
      var children = $$('#basicData #addResourceCondition .new_resource_condition')[0].childElements();
      var name = children[1].value;
      var val = children[2].value;
      if(!val || val.length==0)
      {
        Quest.showErrorMsg('Condition value be integer');
        return;
      }
      if(!Quest.metadata.conditions.resources) Quest.metadata.conditions.resources = {};
      Quest.metadata.conditions.resources[name] = parseInt(val);
      Quest.saveToServer();
    },    

    deleteBuildingCondition : function(building, cond){
      delete(Quest.metadata.conditions.buildings[building][cond]);
      var condition = false;
      for ( var i in Quest.metadata.conditions.buildings[building]) condition = true;
      if(!condition) delete(Quest.metadata.conditions.buildings[building]);
      Quest.saveToServer();
    },

    deleteResourceCondition : function(cond){
      Quest.retrieveFormData();
      delete(Quest.metadata.conditions.resources[cond]);
      console.log(Quest.metadata.conditions.resources);
      Quest.saveToServer();
    },

    displayAddReward : function(){
      $$('#basicData #addReward')[0].innerHTML = TrimPath.processDOMTemplate("addRewardTemplate");
    },

    addReward : function(){
      Quest.retrieveFormData();
      var children = $$('#basicData .new_reward')[0].childElements();
      var name = children[1].value;
      var val = children[2].value;
      if(!val || val.length==0)
      {
        Quest.showErrorMsg('Reward value be integer');
        return;
      }
      Quest.metadata.rewards[name] = parseInt(val); 
      Quest.saveToServer();
    },

    deleteReward : function(reward){
      Quest.retrieveFormData();
      delete(Quest.metadata.rewards[reward]);
      Quest.saveToServer();
    },

    save : function(){
      Quest.retrieveFormData();
      Quest.saveToServer();
    },

    retrieveFormData : function(){
      this.name = $$('#basicData #name')[0].value;
      if($$('#basicData #parent')[0].value.length > 0)
        this.parent = parseInt($$('#basicData #parent')[0].value);
      else 
        this.parent = 'null';
      this.primary = $$('#basicData #primal')[0].checked;
      console.log(this.name, this.parent, this.primary);
      this.metadata.mandatory = $$('#basicData #mandatory')[0].checked;
      this.metadata.category = parseInt($$('#basicData #category')[0].value);
      var conditions = { buildings : {}, resources : {}};
      $$('#basicData .building_condition').each(function(condition){
                                                  var children = condition.childElements();
                                                  var name = children[1].value;
                                                  var cond = children[2].value;
                                                  var val = children[3].value;
                                                  if(!val || val.length==0)
                                                  {
                                                    Quest.showErrorMsg('Condition value be integer');
                                                    return;
                                                  }
                                                  if(!conditions.buildings[name]) conditions.buildings[name] = {};
                                                  conditions.buildings[name][cond] = parseInt(val); 
                                                });
      $$('#basicData .resource_condition').each(function(condition){
                                                  var children = condition.childElements();
                                                  var name = children[1].value;
                                                  var val = children[2].value;
                                                  if(!val || val.length==0)
                                                  {
                                                    Quest.showErrorMsg('Condition value be integer');
                                                    return;
                                                  }
                                                  conditions.resources[name] = parseInt(val); 
                                                });
      Quest.metadata.rewards = {};
      $$('#basicData .reward').each(function(reward){
                                                  var children = reward.childElements();
                                                  var name = children[1].value;
                                                  var val = children[2].value;
                                                  if(!val || val.length==0)
                                                  {
                                                    Quest.showErrorMsg('Reward value be integer');
                                                    return;
                                                  }
                                                  Quest.metadata.rewards[name] = parseInt(val); 
                                                });        
      Quest.metadata.conditions = conditions;
    },

    showSuccessMsg : function(){
      $('questReqStatus').innerHTML = "Saved successfully"
      $('questReqStatus').className = "success"
      $('questReqStatus').show();
      window.setTimeout( function(){$('questReqStatus').hide()}, 5000 )
    },

    showErrorMsg : function(error){
      $('questReqStatus').innerHTML = "Error, your changes are not saved! " + error
      $('questReqStatus').className = "error"
      $('questReqStatus').show();
      window.setTimeout( function(){$('questReqStatus').hide()}, 5000 )
    }

}
</script>

<!----------- Quest Basic Data Template --------->
<div id="basicDataTemplate" style="display:none;" >
  <div id="game_name">
    <%=@quest.game.name%> : 
    <span id="quest_name" class="title" style="color :  DarkOliveGreen;">
      <%=@quest.name%> 
    </span>
  </div>
  <div>
    <LABEL class="label">Basic Quest Data </LABEL>
    <div class="form_row">
      <LABEL for="name">Name </LABEL>
      <INPUT type="text" id="name" name='name' value="${Quest.name}">
    </div>
    <div class="form_row">  
      <LABEL for="parent">Parent</LABEL>
      <select id="parent" name="parent">
        <option value=""> none </option>
        {for quest in Quest.parents}       
          {if (quest==Quest.parent)}                
            <option value="${quest}" SELECTED> ${quest_index} </option>
          {else}
            <option value="${quest}"> ${quest_index} </option>
          {/if}
        {/for}
      </select>
    </div>
    <div class="form_row">  
      <LABEL for="category">Category</LABEL>
      <select id="category" name="category">
        {for category in Quest.categories}       
          {if (category==Quest.metadata.category)}                
            <option value="${category}" SELECTED> ${category_index} </option>
          {else}
            <option value="${category}"> ${category_index} </option>
          {/if}
        {/for}
      </select>
    </div>
    <div class="form_row">  
      <LABEL for="primal">Primary</LABEL>
      {if Quest.primary == true }
        <INPUT type="checkbox" id="primal" name="primal" checked=true><BR>
      {else}
        <INPUT type="checkbox" id="primal" name="primal"><BR>
      {/if}
    </div>
    <div class="form_row">  
      <LABEL for="mandatory">Mandatory</LABEL>
      {if Quest.metadata.mandatory == true }
        <INPUT type="checkbox" id="mandatory" name="mandatory" checked=true><BR/>
      {else}
        <INPUT type="checkbox" id="mandatory" name="mandatory"><BR/>
      {/if}
    </div>
    <br/>
    <LABEL for="rewards" class="label title">Rewards</LABEL>
    <div id="rewards">
      {for reward in Quest.metadata.rewards}
        <div class="form_row reward">  
        <LABEL for="condition">Reward</LABEL>
          <select style="width:20%;">
            {for reward_item in Quest.rewards.profile}                      
              {if (reward_index==reward_item)}         
                <option value="${reward_item}" SELECTED> ${reward_item} </option>
              {else}
                <option value="${reward_item}"> ${reward_item} </option>
              {/if}
            {/for}
            {for reward_item in Quest.rewards.resources}                      
              {if (reward_index==reward_item)}         
                <option value="${reward_item}" SELECTED> ${reward_item} </option>
              {else}
                <option value="${reward_item}"> ${reward_item} </option>
              {/if}
            {/for}
          </select>
          <INPUT type="text" value="${reward}" style="width:20%;"> 
          <a href="" onclick="Quest.deleteReward('${reward_index}'); return false;" style="padding-left:10px;">X</a>
        </div>
      {/for}
      <a href="" onclick="Quest.displayAddReward(); return false;">
        Add Reward
      </a>
      <div id='addReward'>
      </div>
      <br/>
    </div>
    <LABEL class="label">Conditions </LABEL>
    {for building in Quest.metadata.conditions.buildings}
      {for condition in building}
      <div class="form_row building_condition">  
        <LABEL for="condition">Building</LABEL>
        <select style="width:20%;">
          {for game_building in Quest.gameMetadata.buildings}                      
            {if (game_building_index==building_index)}         
              <option value="${game_building_index}" SELECTED> ${game_building_index} </option>
            {else}
              <option value="${game_building_index}"> ${game_building_index} </option>
            {/if}
          {/for}
        </select>
        <select style="width:20%;">
          {for item in Quest.conditions.buildings}                      
            {if (item==condition_index)}         
              <option value="${item}" SELECTED> ${item} </option>
            {else}
              <option value="${item}"> ${item} </option>
            {/if}
          {/for}
        </select>
        <INPUT type="text" value="${condition}" style="width:20%;"> 
        <a href="" onclick="Quest.deleteBuildingCondition('${building_index}', '${condition_index}'); return false;" style="padding-left:10px;">X</a>
      </div>      
      {/for}
    {/for}
    {for condition in Quest.metadata.conditions.resources}
      <div class="form_row resource_condition">  
        <LABEL for="condition">Resource</LABEL>
        <select style="width:20%;">
          {for item in Quest.conditions.resources}                      
            {if (item==condition_index)}         
              <option value="${item}" SELECTED> ${item} </option>
            {else}
              <option value="${item}"> ${item} </option>
            {/if}
          {/for}
        </select>
        <INPUT type="text" value="${condition}" style="width:20%;"> 
        <a href="" onclick="Quest.deleteResourceCondition('${condition_index}'); return false;" style="padding-left:10px;">X</a>
      </div>
    {/for}
    <br/>
    <a href="" onclick="Quest.displayAddBuildingCondition(); return false;">
      Add Condition on a building
    </a>
    <div id='addBuildingCondition'>
    </div>
    <a href="" onclick="Quest.displayAddResourceCondition(); return false;">
      Add Condition on a resource
    </a>
    <div id='addResourceCondition'>
    </div>
    <div class="form_row">
      <input type="submit" value="save" class="submit" onclick="Quest.save(); return false;"/>
    </div>
  </div>
</div>
<!----------------------------------------------->

<!--------- Quest Add Condition Template -------->
<div id="addBuildingConditionTemplate" style="display:none;">
  <div class="form_row new_building_condition">  
    <LABEL for="condition">Building</LABEL>
    <select style="width:20%;">
      {for game_building in Quest.gameMetadata.buildings}                      
        <option value="${game_building_index}"> ${game_building_index} </option>
      {/for}
    </select>
    <select style="width:20%;">
      {for item in Quest.conditions.buildings}                      
        <option value="${item}"> ${item} </option>
      {/for}
    </select>
    <INPUT type="text" style="width:20%;"> 
  </div>      
  <div class="form_row">
    <input type="submit" value="add" class="submit" onclick="Quest.addBuildingCondition(); return false;"/>
  </div>
</div>
<!----------------------------------------------->
<div id="addResourceConditionTemplate" style="display:none;">
  <div class="form_row new_resource_condition">  
    <LABEL for="condition">Resource</LABEL>
    <select style="width:20%;">
      {for item in Quest.conditions.resources}                      
        <option value="${item}"> ${item} </option>
      {/for}
    </select>
    <INPUT type="text" style="width:20%;"> 
  </div>
  <div class="form_row">
    <input type="submit" value="add" class="submit" onclick="Quest.addResourceCondition(); return false;"/>
  </div>
</div>
<!----------------------------------------------->
<!----------- Quest Add Reward Template --------->
<div id="addRewardTemplate" style="display:none;">
  <div class="form_row new_reward">  
    <LABEL for="condition">Reward</LABEL>
    <select style="width:20%;">
      {for reward_item in Quest.rewards.profile}                      
        <option value="${reward_item}"> ${reward_item} </option>
      {/for}
      {for reward_item in Quest.rewards.resources}                      
        <option value="${reward_item}"> ${reward_item} </option>
      {/for}
    </select>
    <INPUT type="text" style="width:20%;"> 
  </div>
  <div class="form_row">
    <input type="submit" value="add" class="submit" onclick="Quest.addReward(); return false;"/>
  </div>
</div>
<!----------------------------------------------->

<div id="game">
  <div id="backLink"> 
    <a href="/<%=AdminController::ADMIN_URL%>/<%=@quest.game[:name]%>/quests">
      Back
    </a>
  </div>
  <div>
    <div class="separator"></div>
    <div id='basicData' style="width:70%;">
    </div>
    <div id="questReqStatus">
    </div>
    <br/>
    <div class="separator"></div>
    <div id='globalData'>
    </div>
    <div id="langReqStatus">
    </div>
  </div>

</div>

<%= erb :language %>

<script type='text/javascript'>

Language.initializeHash = function(){
  for(defaultLang in Language.metadata)
  {
    if(!Language.metadata[defaultLang].quests) Language.metadata[defaultLang].quests = {};
    if(!Language.metadata[defaultLang].quests[Quest.id]) Language.metadata[defaultLang].quests[Quest.id]={};
    if(!Language.metadata[defaultLang].quests[Quest.id]['conditionMsgs']) Language.metadata[defaultLang].quests[Quest.id]['conditionMsgs']={};
    for(var building in Quest.metadata.conditions.buildings)
    {
      if(!Language.metadata[defaultLang].quests[Quest.id].conditionMsgs[building])
        Language.metadata[defaultLang].quests[Quest.id].conditionMsgs[building] = {};
    }
  }
}

Language.display = function(){
  var defaultLang = null;
  for (defaultLang in Language.metadata) break;
  this.initializeHash();
  $('globalData').innerHTML = TrimPath.processDOMTemplate("globalDataTemplate", { languages : Language.metadata	,
                                                                                  defaultLang : defaultLang,
                                                                                  data : this.metadata[defaultLang].quests[Quest.name] });
}

Language.save = function(){
  var language = $('language').value;
  this.metadata[language].quests[Quest.id].title = $$('#globalData #title')[0].value;
  this.metadata[language].quests[Quest.id].description = $$('#globalData #description')[0].value;
  this.metadata[language].quests[Quest.id].congratesMsg = $$('#globalData #congratesMsg')[0].value;
  this.metadata[language].quests[Quest.id].conditionMsgs = {};
  $$('#globalData .building_condition_msg input').each(function(input){
                                                        if(!Language.metadata[language].quests[Quest.id].conditionMsgs[input.id])
                                                          Language.metadata[language].quests[Quest.id].conditionMsgs[input.id] = {};
                                                        var building = input.id.split('__')[0];
                                                        var cond = input.id.split('__')[1];
                                                        if(!Language.metadata[language].quests[Quest.id].conditionMsgs[building])
                                                          Language.metadata[language].quests[Quest.id].conditionMsgs[building] = {};
                                                        Language.metadata[language].quests[Quest.id].conditionMsgs[building][cond] = input.value;
                                                      });
  $$('#globalData .resource_condition_msg input').each(function(input){
                                                        Language.metadata[language].quests[Quest.id].conditionMsgs[input.id] = input.value;
                                                      });
  this.saveToServer();
}

Language.changeLanguage = function(){
  var defaultLang = $('language').value; 
  this.initializeHash();
  $('globalData').innerHTML = TrimPath.processDOMTemplate("globalDataTemplate", { languages : data.languages,
                                                                                  defaultLang : defaultLang,
                                                                                  data : this.metadata[defaultLang].quests[Quest.id] });
}
</script>

<!----------- Quest Description Template -------->
<div id="globalDataTemplate" style="display:none;" >
  <LABEL class="label">Description Text </LABEL>
  <div class="form_row">
    <LABEL for="language">Language</LABEL>
    <select id="language" onChange="Language.changeLanguage();">
      {for language in languages}
        {if (language_index==defaultLang)} 
          <option value="${language_index}" SELECTED>
            ${language_index}
          </option>
        {else}  
          <option value="${language_index}">
            ${language_index}
          </option>
        {/if}
      {/for}
    </select>
  </div>
  <div class="form_row">
    <LABEL for="tile">Title </LABEL>
    <INPUT type="text" id="title" name='title' value="${languages[defaultLang]['quests'][Quest.id].title}">
  </div>
  <div class="form_row">
    <LABEL for="description"> Description </LABEL>
    <textarea id="description" name="description" type="text">${languages[defaultLang]['quests'][Quest.id].description}</textarea>
  </div>
  <div class="form_row">
    <LABEL for="congratesMsg"> Congrates Msg </LABEL>
    <textarea id="congratesMsg" name="congratesMsg" type="text">${languages[defaultLang]['quests'][Quest.id].congratesMsg}</textarea>
  </div>
  <LABEL for="condition_msgs" class="label">Condition Messages</LABEL>
  <div id='condition_msgs'>
    {for building in Quest.metadata.conditions.buildings}
      {for condition in building}
      <div class="form_row building_condition_msg">  
        <LABEL for="condition">${building_index} ${condition_index}</LABEL>
        <INPUT type="text" id="${building_index}__${condition_index}" 
                value="${languages[defaultLang]['quests'][Quest.id].conditionMsgs[building_index][condition_index]}"> 
      </div>      
      {/for}
    {/for}
    {for condition in Quest.metadata.conditions.resources}
      <div class="form_row resource_condition_msg">  
        <LABEL for="condition">${condition_index}</LABEL>
        <INPUT type="text" id="${condition_index}" value="${languages[defaultLang]['quests'][Quest.id].conditionMsgs[condition_index]}"> 
      </div>
    {/for}
  </div>
  <div class="form_row">  
    <input class="submit" type="submit" value="Save" onclick="Language.save();">
  </div>
</div>
<!----------------------------------------------->
<script>
Quest.init();
Language.initialize();
</script>

