<LABEL for="new_match">Match Info</LABEL>
<form id="new_match" action="/<%=AdminController::ADMIN_URL%>/matches/<%if @match%><%=@match.id%><%end%>" method="post" enctype="multipart/form-data">
  <div class="form_row">  
    <LABEL for="team_a">Team A</LABEL>
    <select id="team_a" name="team_a">
      <% @teams.each do | team | %>
        <option value="<%=team.id%>" <%if @match%><%=(@match.team_a.id==team.id)? 'SELECTED' : false%><%else%>false<%end%>><%=team.name%></option>
      <% end %>
    </select>
  </div>
  <div class="form_row">  
    <LABEL for="team_b">Team B</LABEL>
    <select id="team_b" name="team_b">
      <% @teams.each do | team | %>
        <option value="<%=team.id%>" <%if @match%><%=(@match.team_b.id==team.id)? 'SELECTED' : false%><%else%>false<%end%>><%=team.name%></option>
      <% end %>
    </select>
  </div>
  <div class="form_row">  
    <LABEL for="location">Location</LABEL>
    <select id="location" name="location">
      <% @locations.each do | location | %>
        <option value="<%=location.id%>" <%if @match%><%=(@match.location.id==location.id)? 'SELECTED' : false%><%else%>false<%end%>><%=location.name%></option>
      <% end %>
    </select>
  </div>
  <div class="form_row">  
    <LABEL for="group">Round</LABEL>
    <select id="group" name="group">
      <% @groups.each do | group | %>
        <option value="<%=group.id%>" <%if @match%><%=(@match.group.id==group.id)? 'SELECTED' : false%><%else%>false<%end%>><%=group.name%></option>
      <% end %>
    </select>
  </div>
  <div class="form_row">  
    <LABEL for="time">Time of Play</LABEL>
    <div id="time">
      <span class="date_span"> month </span>
      <select id="month" name="month" style="width:14%;">
        <% Time::RFC2822_MONTH_NAME.each  do |month|%>
          <option value="<%=month%>" <%if @match%><%=(Time::RFC2822_MONTH_NAME[@match.start_time.month-1]==month)? 'SELECTED' : false%><%else%>false<%end%>><%=month%></option>
        <%end%>
      </select>
      <span class="date_span"> day </span>
      <select id="day" name="day" style="width:9%;">
        <% (1..31).each  do |day|%>
          <option value="<%=day%>" <%if @match%><%=(@match.start_time.day==day)? 'SELECTED' : false%><%else%>false<%end%>><%=day%></option>
        <%end%>
      </select>
      <span class="date_span"> hour </span>
      <select id="hour" name="hour" style="width:9%;">
        <% (0..23).each  do |hour|%>
          <option value="<%=hour%>" <%if @match%><%=(@match.start_time.hour==hour)? 'SELECTED' : false%><%else%>false<%end%>><%=hour%></option>
        <%end%>
      </select>
      <span class="date_span"> min </span>
      <select id="min" name="min" style="width:9%;">
        <% (0..59).each  do |min|%>
          <option value="<%=min%>" <%if @match%><%=(@match.start_time.min==min)? 'SELECTED' : false%><%else%>false<%end%>><%=min%></option>
        <%end%>
      </select>
    </div>
  </div>
  <%if @match%>
    <div class="form_row">  
      <LABEL for="goals_a"> <%=@match.team_a.name%> Goals </LABEL>
      <INPUT type="text" id="goals_a" name='goals_a' value="<%=@match.goals_a%>" style = "width: 29%;">
      <%if @match.accept_kicks?%>
        <span class="date_span"> Kicks </span>
        <INPUT type="text" id="kicks_a" name='kicks_a' value="<%=@match.kicks_a%>"  style = "width: 29%;"><BR>
      <%end%>
    </div>
    <div class="form_row">  
      <LABEL for="goals_b"> <%=@match.team_b.name%> Goals </LABEL>
      <INPUT type="text" id="goals_b" name='goals_b' value="<%=@match.goals_b%>" style = "width: 29%;">
      <%if @match.accept_kicks?%>
        <span class="date_span"> Kicks </span>
        <INPUT type="text" id="kicks_b" name='kicks_b' value="<%=@match.kicks_b%>" style = "width: 29%;"><BR>
      <%end%>
    </div>    
  <%end%>
  
  <div class="form_row">
    <input type="submit" value="Save" class="submit"/>
  </div>
</form> 
