<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="chrome=1">
  <meta http-equiv="Content-Type" content="text/html;" charset="utf-8">
  <link type="text/css" href="<%=bust_cache('css/all/intro.css')%>" rel="stylesheet" />
  <link type="text/css" href="<%=bust_cache('css/all/payments.css')%>" rel="stylesheet" />
  <!--[if IE]>
    <script src="swf/flashcanvas.js"></script>
  <![endif]-->
  <script src="http://connect.facebook.net/en_US/all.js"></script>
  <script src="<%=bust_cache('js/game/replay_creator.js')%>"></script>
  <script src="<%=bust_cache('js/all/base.js')%>"></script>
  <script src="<%=bust_cache('js/all/nezal.js')%>"></script>
  <script src="<%=bust_cache('js/all/payments.js')%>"></script>
  <script>
    soundManager.url = 'swf/';
    soundManager.flashVersion = 9; // optional: shiny features (default = 8)
    soundManager.useFlashBlock = false; // optionally, enable when you're ready to dive in
    // enable HTML5 audio support, if you're feeling adventurous.
    soundManager.useHTML5Audio = false;
  </script>
  <script src="<%=bust_cache('js/all/game.js')%>" type="text/javascript"></script>
  <script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-19379382-1']);
  _gaq.push(['_trackPageview']);
  (function() {
  var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
  ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
  </script>
</head>
<body>
<iframe id ="iframe" src="statics/blank.html" style="display : none;"></iframe>
<iframe id="pages" src="statics/blank.html" style="display : none;"></iframe>
<div id ="images"></div>
<div id="startingGame">
<div id="pause" style="display : none;">
  <div style="width:100%; height:100%; background:white;"> </div>
  <div style="color : FloralWhite; font-family : Digital;"> </div>
  <div style="color : FloralWhite; font-family : PakGirl;"> </div>
  <div style="color : FloralWhite; font-family : Arabic;"> </div>
  <div style="color : FloralWhite; font-family : Adlib;"> </div>
  <div id="inProgress" style="width:500px;">
    <img id="logo" name="logo.png"/>
	  <div id="loadingBarEmpty">
	    <div id="loadingBarLeft"> </div>
	    <div id="loadingBarFill"> </div>
	    <div id="loadingBarRight"> </div>
	  </div>
  	<div id="fileName"> </div>
  	<div id="loadingPercentage"> </div>
  </div>
</div>

<div id="game">
<iframe id ="scores" src="" style = "width :760px;height:160px;display:block;position:absolute;overflow:hidden;border:none;top:551px;" frameborder=0 ></iframe>

  <div id="congrates" style="display : none;">
  </div>
  <div id="intro">
    
    <div id="levelSelection" style="display : none; text-align:center;">
    </div>
  
   <div id="previousCampaigns" style="display : none;">
    </div>

    <div id="campaign" style="display : none;">
    </div>
    
    <div id="mission" style="display : none;">
    </div>

    <div id="marketPlace" style="display : none;">
    </div>

  </div>
  
	<div id="publishScreen" style="display : none;">
	</div> 
	
	  <div id='introTemplates' style="display : none;">
  </div>
  
  <div id="gameStart" style="display: none;">
  </div>
  
	</div>
</div>
<script>
	function register(win, resources, dumb){
		Loader.notify(win, resources, dumb)			
	}
</script>
</body>

<script>		
	development = false
	var loadedProgress = 0
	var connected = false;
	function startLoading(){
		if (loadedProgress==$$('#inProgress img').length&&connected)
	        window.setTimeout(function(){$('pause').show()}, 100)
	}
	
	function onFinishProgress()
	{
	    loadedProgress++;
			startLoading()
	}
	
	$$('#pause  #loadingBarEmpty #loadingBarLeft').first().style.backgroundImage = "url('images/intro/loading_bar_left.png')"
	$$('#pause  #loadingBarEmpty #loadingBarLeft').first().style.marginLeft = 3+"px"
	$$('#pause  #loadingBarEmpty #loadingBarRight').first().style.backgroundImage = "url('images/intro/loading_bar_right.png')"
	$$('#pause  #loadingBarEmpty #loadingBarFill').first().style.backgroundImage = "url('images/intro/loading_bar_middle.png')"
	function gameLoaded(){
	  
    if(window.location.search.indexOf('replay') > -1){
      var options = window.location.search.split('?')[1].split('&')
      Nezal.replay = true
      Nezal.replayId = options.find(function(opt){return opt.indexOf('replay') == 0}).split('=')[1]         
    }
		FBConnect.init(function(){			
      if(!Nezal.replay)Intro.initialize();
			connected = true;
			startLoading()							
		});
		
    	$$('#inProgress img').each(function(image){
  	      	image.onload = onFinishProgress;
      			image.src = "images/intro/"+image.getAttribute('name')
    			});		
		if(!Loader.dumb){
      if(!Nezal.replay){
			  Loader.toLoad = [
				'<%=bust_cache('html_resources/payments.html')%>',
				  '<%=bust_cache('html_resources/intro.html')%>',
				  function(){Loader.fire('intro')},
				  '<%=bust_cache('html_resources/animations.html')%>',
				  '<%=bust_cache('html_resources/game.html')%>',
				  '<%=bust_cache('html_resources/background.html')%>',
				  function(){Loader.fire('tutorial')},
				  '<%=bust_cache('html_resources/weapons.html')%>',
				  function(){Loader.fire('game')}
			  ]
      }else{
        Loader.toLoad = [
 				    '<%=bust_cache('html_resources/intro.html')%>',
            '<%=bust_cache('html_resources/animations.html')%>',
				    '<%=bust_cache('html_resources/game.html')%>',
				    '<%=bust_cache('html_resources/background.html')%>',
  				  '<%=bust_cache('html_resources/weapons.html')%>',
				    function(){
               new Ajax.Request('replays/'+Nezal.replayId, { method : 'get', onSuccess : function(res){
                  data = JSON.parse(res.responseText)
                  data.replay = JSON.parse(data.replay)
                  data.campaign_metadata = JSON.parse(data.campaign_metadata)
                  data.game_metadata = JSON.parse(data.game_metadata)  
                  data.user_metadata = JSON.parse(data.user_metadata) 
                  var order = 0
                  var tmpOrder=0
                  data.campaign_metadata.each(function(mission){
                    if(mission['name'] != data.mission_name)  tmpOrder++
                    else order=tmpOrder
                  })
                  Config.rank="PVT"
                  Config.missionPath = data.mission_name.underscore()
                  Intro = GameReplay.prepareConfig(data.campaign_metadata[order],data.level,data.game_metadata, data.user_metadata)                  
                  Config.level=data.level 
                  Config.campaign = data.camp_name
                  Config.missionPath = data.mission_name.underscore()
                  new Ajax.Request(PathConfigs.gameTemplate, {method:'get',
                        onSuccess: function(t){
                            $("gameStart").innerHTML = t.responseText
                            $('iframe').src=Loader.loadPage(Config.campaign,
                            function(){
                                  city_defender_start(data.replay);
                                  $('pause').hide()
                                  $('gameStart').show();
                                  $("intro").hide();    
                          onFinish()
                            })            
                        }
                   })  
               }})         
            }
			  ]
      }
		}
		$('iframe').src = Loader.toLoad[0]
	}
  
  payment = new Payment();
  gameLoaded();
  
</script>
<link type="text/css" href="<%=bust_cache('css/game.css')%>" rel="stylesheet" />
</html>
