<%= erb :language_loader %>
<script type='text/javascript'>
var lang = "<%=@language%>"

Language.addWord = function() {
  var label = $$('#addWord #word')[0].value;
  var value =  $$('#addWord #translation')[0].value;
  Language.data[lang]['labels'][label] = value;
  Language.saveToServer({ 'successCallback' : function(){
                                                  window.location = window.location;  
                                        } });
}

Language.deleteWord = function(word) {
  delete(Language.data[lang]['labels'][word]);
  Language.saveToServer({ 'successCallback' : function(){
                                                  window.location = window.location;  
                                        } });
}

Language.save = function() {
  for(var item in Language.data[lang]['labels'])
  {
    var translation = $$('#basicData #translation_' + item)[0].value;
    Language.data[lang]['labels'][item] = translation;
  }
  Language.saveToServer({ 'successCallback' : function(){
                                            window.location = window.location;  
                                        } });
}

Language.display = function() {
  if(!Language.data[lang]['labels'])
    Language.data[lang]['labels'] = {};
  for(var item in Language.data['english']['labels'])
  {
    if(!Language.data[lang]['labels'][item])
      Language.data[lang]['labels'][item] = '';
  }
  $('basicData').innerHTML = TrimPath.processDOMTemplate("itemsTemplate");
}

Language.initialize();
</script>

<div id="game">
  <div id="backLink"> 
    <a href="/<%=AdminController::ADMIN_URL%>/<%=@game.name%>">
      Back
    </a>
  </div>
  <div id="game_name">
    Buttons & Menu Labels : 
    <span class="title" style="color :  DarkOliveGreen;">
      <%=@language%> 
    </span>
  </div>
  <div class="separator"></div>
  <div id="addWord" class="subItem">
    <LABEL class="label"> Add a word </LABEL>
    <br/>
    <div class="form_row subItem">
      <LABEL for="word">Word </LABEL>
      <INPUT type="text" id="word" name='word'>
      <LABEL for="translation">Translation </LABEL>
      <INPUT type="text" id="translation" name='translation'>
    </div>
    <div class="form_row subItem">  
      <input class="submit" type="submit" value="Save" onclick="Language.addWord();">
    </div>
  </div>
  <div class="separator"></div>
  <div id='basicData' class="subItem">
  </div>
  <div id="langReqStatus">
  </div>

</div>

<!-----------  Items Template ------------------->
<div id="itemsTemplate" style="display:none;" >
  <LABEL class="label">List of existing words </LABEL>
  <br/>
  <div class="subItem">
    {for word in Language.data[lang]['labels']}
      <div class="form_row">
        <LABEL for="translation" style="width:15%;"> ${word_index} </LABEL>
        <INPUT type="text" id="translation_${word_index}" name='translation' value="${word}">
        <a href="" onclick="Language.deleteWord('${word_index}'); return false;" style="font-weight:bold; margin-left:10px;">
          x
        </a>
      </div>
    {/for}
    <div class="form_row">  
      <input class="submit" type="submit" value="Save" onclick="Language.save();">
    </div>
  </div>
</div>
<!----------------------------------------------->
