<%= erb :language %>
<script type='text/javascript'>
Language.display = function(){
    Quests.arrange ();
}
Language.deleteQuest = function(questId){
    for(lang in Language.metadata)
    {
      delete(Language.metadata[lang].quests[questId]);
    }
    Language.saveToServer();
}
var Quests = {
    gameName: "<%=@game.name%>",
    arrange : function() {
        $('quests').childElements().each(function(element){
                                            var parent = element.getAttribute('parent');
                                            var id = element.getAttribute('id');
                                            if(parent && parent.length>0)
                                            {
                                                var quest = $(id);
                                                quest.setStyle("padding-left : 10px;")
                                                $(parent).insert(quest);
                                            }
                                        });  
    },
    remove : function(questId){
      Language.deleteQuest(questId);
      document.getElementById('delete_quest_' + questId).submit()
    } 
}
$(document).observe('dom:loaded',function(){
    Language.initialize();
});
</script>

<div id="game">

  <div id="backLink">   
    <a href="/<%=AdminController::ADMIN_URL%>/<%=@game.name%>">
      Back
    </a>
  </div>

  <div id="game_name">
    <%=@game.name%>
    <span class="title" style="color :  DarkOliveGreen;">
      Quests
    </span>
  </div>

  <div id="game_quests">
    <div id="game_quest_form">
      <LABEL for="new_quest" class="label add">Add New Quest</LABEL>
      <form id="new_quest" action="/nezal-admin/<%=@game.name%>/quests" method="post" enctype="multipart/form-data">
        <div class="form_row">  
          <LABEL for="quest_name">Name</LABEL>
          <INPUT type="text" id="quest_name" name='name'><BR>
        </div>
        <div class="form_row">  
          <LABEL for="primary">Primary</LABEL>
          <INPUT type="checkbox" id="unlocked" name="primary" value=true><BR>
        </div>
        <div class="form_row">  
          <LABEL for="parent">Parent</LABEL>
          <select id="parent" name="parent">
            <option value=""> none </option>
            <% @game.quests.each do | quest | %>                      
              <option value="<%=quest.id%>"> <%=quest.name%> </option>
            <% end %>
          </select>
        </div>
        <div class="form_row">
          <input type="submit" value="Add" class="submit"/>
        </div>
      </form>
    </div>
    <LABEL for="game_quests" class="label">Quests</LABEL>
    <div id="quests">
      <% @game.quests.each do | quest | %>
        <div id="<%=quest[:id]%>" parent="<%=quest.parent%>">
          <span style="width : 20%; display : block; float : left;">
            <a href="/<%=AdminController::ADMIN_URL%>/<%=@game[:name]%>/quests/<%=quest[:id]%>/metadata/edit">
              <%=quest[:name]%>
            </a>
          </span>
          <form id="delete_quest_<%=quest.id%>" action="/<%=AdminController::ADMIN_URL%>/<%=@game[:name]%>/quests/<%=quest.id%>" method="POST" style="display:inline">
            <input type="hidden" name="_method" value="put"/>
            <a href="#" onclick="Quests.remove(<%=quest.id%>);" class="submit_links"> x </a>
          </form> 
        </div>
      <% end %>
    </div>
  </div>

</div>
