<script type='text/javascript'>

</script>

<div id="game">

  <div id="backLink">   
    <a href="/<%=AdminController::ADMIN_URL%>/">
      Back
    </a>
  </div>
  
  <div id="game_name">
    <a href="/<%=AdminController::ADMIN_URL%>/<%=@game[:name]%>/metadata/edit" >
      <%=@game.name%>
    </a>
  </div>
  <div id="game_info">
    <LABEL for="game_description" class="label"> Description </LABEL>
    <div id="game_description">
        <%=@game.description%>
    </div>
  </div>
  <div id="game_ranks">
    <LABEL for="game_ranks" class="label">Ranks</LABEL>
    <% @game.ranks.each do | rank | %>
      <div>
        <span class="column">
          <LABEL for="name">Name: </LABEL>
          <%=rank.name%>
        </span>
        <span class="column">
          <LABEL for="lower_exp">Lower Exp: </LABEL>
          <%=rank.lower_exp%>
        </span>
        <span class="column">
          <LABEL for="upper_exp">Upper Exp: </LABEL>
          <%=rank.upper_exp%>
        </span>
        <form id="delete_rank_<%=rank.id%>" action="/<%=AdminController::ADMIN_URL%>/<%=@game[:id]%>/ranks/<%=rank.id%>" method="POST" style="display:inline" class="delete">
          <input type="hidden" name="_method" value="put"/>
          <a href="#" onclick="document.getElementById('delete_rank_<%=rank.id%>').submit(); return false;" class="submit_links"> x </a>
        </form> 
        <div style="clear:both"></div>
      </div>
    <% end %>
    <div id="game_rank_form">
      <LABEL for="new_rank" class="label add">Add New Rank</LABEL>
      <form id="new_rank" action="/nezal-admin/<%=@game.id%>/ranks" method="post" enctype="multipart/form-data">
        <div class="form_row">  
          <LABEL for="rank_name">Name</LABEL>
          <INPUT type="text" id="rank_name" name='name'><BR>
        </div>
        <div class="form_row">  
          <LABEL for="rank_lower_ep">Min Experience Point</LABEL>
          <INPUT type="text" id="rank_lower_ep" name='lower_exp'><BR>
        </div>
        <div class="form_row">  
          <LABEL for="rank_upper_ep">Max Experience Point</LABEL>
          <INPUT type="text" id="rank_lower_ep" name='upper_exp'><BR>
        </div>
        <div class="form_row">
          <input type="submit" value="Add" class="submit"/>
        </div>
      </form>
    </div>
  </div>
  <div id="game_campaigns">
    <LABEL for="game_campaigns" class="label">Campaigns</LABEL>
    <% @game.campaigns.each do | camp | %>
      <div>
        <span style="width : 20%; display : block; float : left;">
          <a href="/<%=AdminController::ADMIN_URL%>/<%=@game[:name]%>/<%=camp[:id]%>/metadata/edit">
            <%=camp[:name]%>
          </a>
        </span>
        <span style="width : 20%; display : block; float : left;">
          <%=camp[:path]%>
        </span>
        <form id="delete_campaign_<%=camp.id%>" action="/<%=AdminController::ADMIN_URL%>/<%=@game[:id]%>/campaigns/<%=camp.id%>" method="POST" style="display:inline">
          <input type="hidden" name="_method" value="put"/>
          <a href="#" onclick="document.getElementById('delete_campaign_<%=camp.id%>').submit(); return false;" class="submit_links"> x </a>
        </form> 

      </div>
    <% end %>
    <div id="game_campaign_form">
      <LABEL for="new_campaign" class="label">Add New Campaign</LABEL>
      <form id="new_rank" action="/<%=AdminController::ADMIN_URL%>/<%=@game[:id]%>/campaigns" method="post" enctype="multipart/form-data">
        <div class="form_row">  
          <LABEL for="campaign_name">Name</LABEL>
          <INPUT type="text" id="campaign_name" name='name'><BR>
        </div>
        <div class="form_row">  
          <LABEL for="config_path">Config Path</LABEL>
          <INPUT type="text" id="config_path" name='config_path'><BR>
        </div>
        <div class="form_row">
          <input type="submit" value="Add" class="submit"/>
        </div>
      </form>
    </div>
    <div id="game_current_campaign_form">
      <LABEL for="game_campaigns" class="label">Current Campaign</LABEL>
      <form id="set_current_campaign" action="/<%=AdminController::ADMIN_URL%>/<%=@game[:id]%>/current-campaign" method="POST">
        <div class="form_row">
          <LABEL for="current_campaign">Current Campaign</LABEL>
          <select id="current_campaign" name="current_campaign">
            <% @game.campaigns.each do | campaign | %>
              <option value="<%=campaign.id%>"  <%=(campaign.id==@game.current_campaign.id)? 'SELECTED' : false%> > <%=campaign.name%> </option>
            <% end %>
          </select>
        </div>
        <div class="form_row">
          <input type="submit" value="Change" class="submit"/>
        </div>
      </form>
    </div>
  </div>
</div>

<div style="clear:both"></div>


