<div id="matches" class="column ">
  <LABEL for="matches-list" > Matches </LABEL>
  <div id="matches-list">
    <% @matches.each do | match | %>
      <form id="<match_<%=match.id%>" action="/<%=@app_configs['name']%>/predictions/<%=match.id%>" method="post" enctype="multipart/form-data">
        <% prediction = Prediction.find(:user_id => @user.user_id, :app_id => @user.app_id) %>
        <div class="match">
          <a href="match.html?id=<%=match.id%>" class="data_links"><%=match.team_a.name%>  vs  <%=match.team_b.name%></a>
          <%if match.active?%>
            <div class="form_row">  
              <LABEL for="goals_a"> <%=match.team_a.name%> Goals </LABEL>
              <INPUT type="text" id="goals_a" name='goals_a' value="<%if prediction%><%=prediction.goals_a%><%end%>" style = "width: 29%;">
              <%if match.accept_kicks?%>
                <span class="date_span"> Kicks </span>
                <INPUT type="text" id="kicks_a" name='kicks_a' value="<%if prediction%><%=prediction.kicks_a%><%end%>"  style = "width: 29%;"><BR>
              <%end%>
            </div>
            <div class="form_row">  
              <LABEL for="goals_b"> <%=match.team_b.name%> Goals </LABEL>
              <INPUT type="text" id="goals_b" name='goals_b' value="<%if prediction%><%=prediction.goals_b%><%end%>" style = "width: 29%;">
              <%if match.accept_kicks?%>
                <span class="date_span"> Kicks </span>
                <INPUT type="text" id="kicks_b" name='kicks_b' value="<%if prediction%><%=prediction.kicks_a%><%end%>" style = "width: 29%;"><BR>
              <%end%>
            </div>    
          <%end%>
          <div class="form_row">
            <input type="submit" value="Save" class="submit"/>
          </div>
        </div>
      </form>
    <% end %>
  </div>
</div>
