<LABEL for="new_location">Location Info</LABEL>
<form id="new_location" action="/<%=AdminController::ADMIN_URL%>/locations/<%if @location%><%=@location.id%><%end%>" method="post" enctype="multipart/form-data">
  <div class="form_row">  
    <LABEL for="name">Name</LABEL>
    <INPUT type="text" id="name" name='name' value="<%if @location%><%=@location.name%><%end%>"><BR>
  </div>
  <div class="form_row"> 
    <LABEL for="name_ar">Arabic Name</LABEL>
    <INPUT type="text" id="name_ar" name='name_ar' value="<%if @location%><%=@location.name_ar%><%end%>"><BR>
  </div>
  <div class="form_row">  
    <LABEL for="city_name">City Name</LABEL>
    <INPUT type="text" id="city_name" name='city_name' value="<%if @location%><%=@location.city_name%><%end%>"><BR>
  </div>
  <div class="form_row">  
    <LABEL for="city_name_ar">Ar City Name</LABEL>
    <INPUT type="text" id="city_name_ar" name='city_name_ar' value="<%if @location%><%=@location.city_name_ar%><%end%>"><BR>
  </div>
  <div class="form_row">
    <input type="submit" value="Save" class="submit"/>
  </div>
</form> 
